<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('include/_header'); -%>

        <link rel="stylesheet" href="../public/css/app.css">
        <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="menu"><%- include('include/_nav'); -%></div>




    <%- include('include/_footer'); -%>
</body>

</html>